h4 {
  margin: 10px;
  font-weight: bold;
}

textarea {
  width: 600px;
  height: 460px;
}

textarea[name="sociotypes_sample"] {
  height: 380px;
}

textarea[name="sociotypes_autoloaded"] {
  height: 150px;
}

.buttons {
  margin-bottom: 10px;
}

.buttons button {
  margin-right: 10px;
}

.hidden {
  display: none;
}
